config.yml
.vim
data/
venv/
.venv/
*.pem
.env
logstash/
Winlogbeat/
.vagrant
not_in_use/
meterpreter-0.exe
payloads/
__pycache__
Analysis_Logs/
Payloads/
.vscode
.vagrant
*.log
docker_misp/files
docker_misp/logs
docker_misp/ssl
docker_misp/server-configs
winlogbeat.yml
elastic-agent.yml